.btn {
  padding: 8px 12px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 0;
  font-size: medium;
  cursor: pointer;
}

.btn-primary {
  background-color: #9ec5fe;
  color: #052c65;
}

.btn-success {
  background-color: #a3cfbb;
  color: #0a3622;
}

.btn-danger {
  background-color: #f1aeb5;
  color: #58151c;
}